  body{background-image: url("background.png");
  background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;}
  #b1{background: linear-gradient(pink,
    red); background-repeat: no-repeat;}
  
        p{
    font-style: normal;
font-weight: bold;
text-decoration: none;
font: size 16px;
font-family: sans-serif;
text-align: center;
padding-top: 2px;
color: white;}
        #p1{color:#801c1c;}
        #p2{color: blue;}
        #p6{color: blue;font-size: 19px;
        font-weight: lighter;
    font-style: normal;
text-decoration: none;border-style: none;}
        #p10{color: brown;font-style: italic;
        font-weight: bold;
    font-size: 17px;
text-decoration: underline;}

#p0{text-decoration: none;
font-style: normal;}
img{float: left;}
#box1{border: 1px solid;
height: 300px;width: 300px;
background-color: blueviolet;
position: relative;}
#box2{border: 1px solid;
height: 100px;width: 100px;
background-color: rgb(43, 226, 125);
position: absolute;
top: 100px;
left: 100px;}
a:link{
  color:beige;
}
a:hover{color: #801c1c;}
a:active{color: yellow;}
button:hover{background-color: red;}

h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: bolder;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.fa-house{color: #801c1c; border: black;}
.fa-linkedin{color: blue; border: black;}
.fa-youtube{color: red; border: black;}

header{color: black;
padding: 1rem;
text-align: center;}

header nav ul{list-style: none;
display: flex;
justify-content: right;}

header nav ul li{margin: 15px;}
button{color:white;
background-color: rgb(255, 101, 101);
align-content: center;
justify-content: center;
width: 162.58;
height: 60.88;
border-radius: 25px;
box-shadow: none;}

.text{font-size: 16px;
font-weight: lighter;
text-align: center;
width: 640px;
margin: auto;
height: 106px;
margin-top: 30px;}
